//Color
.{$mdi-css-prefix}-dark
  color rgba(0, 0, 0, 0.54)
  &.mdi-inactive
    color rgba(0, 0, 0, 0.26)
    
.{$mdi-css-prefix}-light
  color rgba(255, 255, 255, 1)
  &.mdi-inactive
    color rgba(255, 255, 255, 0.3)