// Base Class Definition
.{$mdi-css-prefix}
  display inline-block
  font-family "mdi"
  font-style normal
  font-weight normal
  line-height 1
  vertical-align middle
  speak none
  text-decoration inherit
  text-transform none
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale