/*!
 *  MaterialDesign-Webfont by @templarian - https://materialdesignicons.com/
 *  License - https://github.com/Templarian/MaterialDesign/blob/master/license.txt (Font: SIL OFL 1.1)
 */
$mdi-font-name ?= "mdi"
$mdi-file-name ?= "icons"
$mdi-font-path ?= "../fonts"
$mdi-font-weight ?= "regular"
$mdi-version ?= "2.0.46"
$mdi-font-size-base ?= 24px
$mdi-line-height-base ?= 1
$mdi-css-prefix ?= mdi

$mdi-icons = { 
  access-point-network: "\f101",
  access-point: "\f102",
  account-alert: "\f103",
  account-box-outline: "\f104",
  account-box: "\f105",
  account-card-details: "\f106",
  account-check: "\f107",
  account-circle: "\f108",
  account-convert: "\f109",
  account-edit: "\f10a",
  account-key: "\f10b",
  account-location: "\f10c",
  account-minus: "\f10d",
  account-multiple-minus: "\f10e",
  account-multiple-outline: "\f10f",
  account-multiple-plus: "\f110",
  account-multiple: "\f111",
  account-network: "\f112",
  account-off: "\f113",
  account-outline: "\f114",
  account-plus: "\f115",
  account-remove: "\f116",
  account-search: "\f117",
  account-settings-variant: "\f118",
  account-settings: "\f119",
  account-switch: "\f11a",
  account: "\f11b",
  adjust: "\f11c",
  air-conditioner: "\f11d",
  airballoon: "\f11e",
  airplane-landing: "\f11f",
  airplane-off: "\f120",
  airplane-takeoff: "\f121",
  airplane: "\f122",
  airplay: "\f123",
  alarm-bell: "\f124",
  alarm-check: "\f125",
  alarm-light: "\f126",
  alarm-multiple: "\f127",
  alarm-off: "\f128",
  alarm-plus: "\f129",
  alarm-snooze: "\f12a",
  alarm: "\f12b",
  album: "\f12c",
  alert-box: "\f12d",
  alert-circle-outline: "\f12e",
  alert-circle: "\f12f",
  alert-decagram: "\f130",
  alert-octagon: "\f131",
  alert-octagram: "\f132",
  alert-outline: "\f133",
  alert: "\f134",
  all-inclusive: "\f135",
  alpha: "\f136",
  alphabetical: "\f137",
  altimeter: "\f138",
  amazon-clouddrive: "\f139",
  amazon: "\f13a",
  ambulance: "\f13b",
  amplifier: "\f13c",
  anchor: "\f13d",
  android-debug-bridge: "\f13e",
  android-head: "\f13f",
  android-studio: "\f140",
  android: "\f141",
  angular: "\f142",
  angularjs: "\f143",
  animation: "\f144",
  apple-finder: "\f145",
  apple-ios: "\f146",
  apple-keyboard-caps: "\f147",
  apple-keyboard-command: "\f148",
  apple-keyboard-control: "\f149",
  apple-keyboard-option: "\f14a",
  apple-keyboard-shift: "\f14b",
  apple-mobileme: "\f14c",
  apple-safari: "\f14d",
  apple: "\f14e",
  application: "\f14f",
  appnet: "\f150",
  approval: "\f151",
  apps: "\f152",
  archive: "\f153",
  arrange-bring-forward: "\f154",
  arrange-bring-to-front: "\f155",
  arrange-send-backward: "\f156",
  arrange-send-to-back: "\f157",
  arrow-all: "\f158",
  arrow-bottom-left: "\f159",
  arrow-bottom-right: "\f15a",
  arrow-collapse-down: "\f15b",
  arrow-collapse-left: "\f15c",
  arrow-collapse-right: "\f15d",
  arrow-collapse-up: "\f15e",
  arrow-compress-all: "\f15f",
  arrow-compress: "\f160",
  arrow-down-bold-box-outline: "\f161",
  arrow-down-bold-box: "\f162",
  arrow-down-bold-circle-outline: "\f163",
  arrow-down-bold-circle: "\f164",
  arrow-down-bold-hexagon-outline: "\f165",
  arrow-down-bold: "\f166",
  arrow-down-box: "\f167",
  arrow-down-drop-circle-outline: "\f168",
  arrow-down-drop-circle: "\f169",
  arrow-down-drop: "\f16a",
  arrow-down-thick: "\f16b",
  arrow-down: "\f16c",
  arrow-expand-all: "\f16d",
  arrow-expand-down: "\f16e",
  arrow-expand-left: "\f16f",
  arrow-expand-right: "\f170",
  arrow-expand-up: "\f171",
  arrow-expand: "\f172",
  arrow-left-bold-box-outline: "\f173",
  arrow-left-bold-box: "\f174",
  arrow-left-bold-circle-outline: "\f175",
  arrow-left-bold-circle: "\f176",
  arrow-left-bold-hexagon-outline: "\f177",
  arrow-left-bold: "\f178",
  arrow-left-box: "\f179",
  arrow-left-drop-circle-outline: "\f17a",
  arrow-left-drop-circle: "\f17b",
  arrow-left-thick: "\f17c",
  arrow-left: "\f17d",
  arrow-right-bold-box-outline: "\f17e",
  arrow-right-bold-box: "\f17f",
  arrow-right-bold-circle-outline: "\f180",
  arrow-right-bold-circle: "\f181",
  arrow-right-bold-hexagon-outline: "\f182",
  arrow-right-bold: "\f183",
  arrow-right-box: "\f184",
  arrow-right-drop-circle-outline: "\f185",
  arrow-right-drop-circle: "\f186",
  arrow-right-thick: "\f187",
  arrow-right: "\f188",
  arrow-top-left: "\f189",
  arrow-top-right: "\f18a",
  arrow-up-bold-box-outline: "\f18b",
  arrow-up-bold-box: "\f18c",
  arrow-up-bold-circle-outline: "\f18d",
  arrow-up-bold-circle: "\f18e",
  arrow-up-bold-hexagon-outline: "\f18f",
  arrow-up-bold: "\f190",
  arrow-up-box: "\f191",
  arrow-up-drop-circle-outline: "\f192",
  arrow-up-drop-circle: "\f193",
  arrow-up-thick: "\f194",
  arrow-up: "\f195",
  assistant: "\f196",
  asterisk: "\f197",
  at: "\f198",
  atom: "\f199",
  attachment: "\f19a",
  audiobook: "\f19b",
  auto-fix: "\f19c",
  auto-upload: "\f19d",
  autorenew: "\f19e",
  av-timer: "\f19f",
  baby-buggy: "\f1a0",
  baby: "\f1a1",
  backburger: "\f1a2",
  backspace: "\f1a3",
  backup-restore: "\f1a4",
  bandcamp: "\f1a5",
  bank: "\f1a6",
  barcode-scan: "\f1a7",
  barcode: "\f1a8",
  barley: "\f1a9",
  barrel: "\f1aa",
  basecamp: "\f1ab",
  basket-fill: "\f1ac",
  basket-unfill: "\f1ad",
  basket: "\f1ae",
  battery-10: "\f1af",
  battery-20: "\f1b0",
  battery-30: "\f1b1",
  battery-40: "\f1b2",
  battery-50: "\f1b3",
  battery-60: "\f1b4",
  battery-70: "\f1b5",
  battery-80: "\f1b6",
  battery-90: "\f1b7",
  battery-alert: "\f1b8",
  battery-charging-100: "\f1b9",
  battery-charging-20: "\f1ba",
  battery-charging-30: "\f1bb",
  battery-charging-40: "\f1bc",
  battery-charging-60: "\f1bd",
  battery-charging-80: "\f1be",
  battery-charging-90: "\f1bf",
  battery-charging: "\f1c0",
  battery-minus: "\f1c1",
  battery-negative: "\f1c2",
  battery-outline: "\f1c3",
  battery-plus: "\f1c4",
  battery-positive: "\f1c5",
  battery-standard: "\f1c6",
  battery-unknown: "\f1c7",
  battery: "\f1c8",
  beach: "\f1c9",
  beaker: "\f1ca",
  beam: "\f1cb",
  beats: "\f1cc",
  beer: "\f1cd",
  behance: "\f1ce",
  bell-off: "\f1cf",
  bell-outline: "\f1d0",
  bell-plus: "\f1d1",
  bell-ring-outline: "\f1d2",
  bell-ring: "\f1d3",
  bell-sleep: "\f1d4",
  bell: "\f1d5",
  beta: "\f1d6",
  bible: "\f1d7",
  bike: "\f1d8",
  bing: "\f1d9",
  binoculars: "\f1da",
  bio: "\f1db",
  bitbucket: "\f1dc",
  black-mesa: "\f1dd",
  blackberry: "\f1de",
  blender: "\f1df",
  blinds: "\f1e0",
  block-helper: "\f1e1",
  blogger: "\f1e2",
  bluetooth-audio: "\f1e3",
  bluetooth-connect: "\f1e4",
  bluetooth-off: "\f1e5",
  bluetooth-settings: "\f1e6",
  bluetooth-transfer: "\f1e7",
  bluetooth: "\f1e8",
  blur-linear: "\f1e9",
  blur-off: "\f1ea",
  blur-radial: "\f1eb",
  blur: "\f1ec",
  bomb-off: "\f1ed",
  bomb: "\f1ee",
  bone: "\f1ef",
  book-minus: "\f1f0",
  book-multiple-variant: "\f1f1",
  book-multiple: "\f1f2",
  book-open-page-variant: "\f1f3",
  book-open-variant: "\f1f4",
  book-open: "\f1f5",
  book-plus: "\f1f6",
  book-secure: "\f1f7",
  book-unsecure: "\f1f8",
  book-variant: "\f1f9",
  book: "\f1fa",
  bookmark-check: "\f1fb",
  bookmark-music: "\f1fc",
  bookmark-outline-plus: "\f1fd",
  bookmark-outline: "\f1fe",
  bookmark-plus: "\f1ff",
  bookmark-remove: "\f200",
  bookmark: "\f201",
  boombox: "\f202",
  bootstrap: "\f203",
  border-all: "\f204",
  border-bottom: "\f205",
  border-color: "\f206",
  border-horizontal: "\f207",
  border-inside: "\f208",
  border-left: "\f209",
  border-none: "\f20a",
  border-outside: "\f20b",
  border-right: "\f20c",
  border-style: "\f20d",
  border-top: "\f20e",
  border-vertical: "\f20f",
  bow-tie: "\f210",
  bowl: "\f211",
  bowling: "\f212",
  box-3d: "\f213",
  box-cutter: "\f214",
  box-download: "\f215",
  box-shadow: "\f216",
  box-upload: "\f217",
  box: "\f218",
  bridge: "\f219",
  briefcase-checked: "\f21a",
  briefcase-download: "\f21b",
  briefcase-upload: "\f21c",
  briefcase: "\f21d",
  brightness-1: "\f21e",
  brightness-2: "\f21f",
  brightness-3: "\f220",
  brightness-4: "\f221",
  brightness-5: "\f222",
  brightness-6: "\f223",
  brightness-7: "\f224",
  brightness-auto: "\f225",
  brightness: "\f226",
  broom: "\f227",
  brush: "\f228",
  buffer: "\f229",
  bug: "\f22a",
  bulletin-board: "\f22b",
  bullhorn: "\f22c",
  bullseye: "\f22d",
  burst-mode: "\f22e",
  bus-articulated-end: "\f22f",
  bus-articulated-front: "\f230",
  bus-double-decker: "\f231",
  bus-school: "\f232",
  bus-side: "\f233",
  bus: "\f234",
  cached: "\f235",
  cake-layered: "\f236",
  cake-variant: "\f237",
  cake: "\f238",
  calculator-off: "\f239",
  calculator: "\f23a",
  calendar-blank: "\f23b",
  calendar-check-multiple: "\f23c",
  calendar-check: "\f23d",
  calendar-clock: "\f23e",
  calendar-multiple: "\f23f",
  calendar-plus: "\f240",
  calendar-question: "\f241",
  calendar-range: "\f242",
  calendar-remove: "\f243",
  calendar-select: "\f244",
  calendar-text: "\f245",
  calendar-today: "\f246",
  calendar: "\f247",
  call-made: "\f248",
  call-merge: "\f249",
  call-missed: "\f24a",
  call-received: "\f24b",
  call-split: "\f24c",
  camcorder-box-off: "\f24d",
  camcorder-box: "\f24e",
  camcorder-off: "\f24f",
  camcorder: "\f250",
  camera-burst: "\f251",
  camera-enhance: "\f252",
  camera-front-variant: "\f253",
  camera-front: "\f254",
  camera-gopro: "\f255",
  camera-iris: "\f256",
  camera-metering-center: "\f257",
  camera-metering-matrix: "\f258",
  camera-metering-partial: "\f259",
  camera-metering-spot: "\f25a",
  camera-off: "\f25b",
  camera-party-mode: "\f25c",
  camera-rear-variant: "\f25d",
  camera-rear: "\f25e",
  camera-switch: "\f25f",
  camera-timer: "\f260",
  camera: "\f261",
  cancel: "\f262",
  candle: "\f263",
  candycane: "\f264",
  cannabis: "\f265",
  car-battery: "\f266",
  car-connected: "\f267",
  car-convertable: "\f268",
  car-estate: "\f269",
  car-hatchback: "\f26a",
  car-pickup: "\f26b",
  car-side: "\f26c",
  car-sports: "\f26d",
  car-wash: "\f26e",
  car: "\f26f",
  caravan: "\f270",
  cards-outline: "\f271",
  cards-playing-outline: "\f272",
  cards-variant: "\f273",
  cards: "\f274",
  carrot: "\f275",
  cart-off: "\f276",
  cart-outline: "\f277",
  cart-plus: "\f278",
  cart: "\f279",
  cash-100: "\f27a",
  cash-multiple: "\f27b",
  cash-usd: "\f27c",
  cash: "\f27d",
  cast-connected: "\f27e",
  cast-off: "\f27f",
  cast: "\f280",
  castle: "\f281",
  cat: "\f282",
  cctv: "\f283",
  ceiling-light: "\f284",
  cellphone-android: "\f285",
  cellphone-basic: "\f286",
  cellphone-dock: "\f287",
  cellphone-iphone: "\f288",
  cellphone-link-off: "\f289",
  cellphone-link: "\f28a",
  cellphone-settings: "\f28b",
  cellphone: "\f28c",
  certificate: "\f28d",
  chair-school: "\f28e",
  chart-arc: "\f28f",
  chart-areaspline: "\f290",
  chart-bar-stacked: "\f291",
  chart-bar: "\f292",
  chart-bubble: "\f293",
  chart-donut-variant: "\f294",
  chart-donut: "\f295",
  chart-gantt: "\f296",
  chart-histogram: "\f297",
  chart-line-stacked: "\f298",
  chart-line-variant: "\f299",
  chart-line: "\f29a",
  chart-pie: "\f29b",
  chart-scatterplot-hexbin: "\f29c",
  chart-timeline: "\f29d",
  check-all: "\f29e",
  check-bookmark: "\f29f",
  check-circle-outline: "\f2a0",
  check-circle: "\f2a1",
  check: "\f2a2",
  checkbox-blank-circle-outline: "\f2a3",
  checkbox-blank-circle: "\f2a4",
  checkbox-blank-outline: "\f2a5",
  checkbox-blank: "\f2a6",
  checkbox-marked-circle-outline: "\f2a7",
  checkbox-marked-circle: "\f2a8",
  checkbox-marked-outline: "\f2a9",
  checkbox-marked: "\f2aa",
  checkbox-multiple-blank-circle-outline: "\f2ab",
  checkbox-multiple-blank-circle: "\f2ac",
  checkbox-multiple-blank-outline: "\f2ad",
  checkbox-multiple-blank: "\f2ae",
  checkbox-multiple-marked-circle-outline: "\f2af",
  checkbox-multiple-marked-circle: "\f2b0",
  checkbox-multiple-marked-outline: "\f2b1",
  checkbox-multiple-marked: "\f2b2",
  checkerboard: "\f2b3",
  chemical-weapon: "\f2b4",
  chevron-double-down: "\f2b5",
  chevron-double-left: "\f2b6",
  chevron-double-right: "\f2b7",
  chevron-double-up: "\f2b8",
  chevron-down: "\f2b9",
  chevron-left: "\f2ba",
  chevron-right: "\f2bb",
  chevron-up: "\f2bc",
  chili-hot: "\f2bd",
  chili-medium: "\f2be",
  chili-mild: "\f2bf",
  chip: "\f2c0",
  church: "\f2c1",
  circle-outline: "\f2c2",
  circle: "\f2c3",
  cisco-webex: "\f2c4",
  city: "\f2c5",
  clapperboard: "\f2c6",
  clipboard-account: "\f2c7",
  clipboard-alert: "\f2c8",
  clipboard-arrow-down: "\f2c9",
  clipboard-arrow-left: "\f2ca",
  clipboard-check: "\f2cb",
  clipboard-flow: "\f2cc",
  clipboard-outline: "\f2cd",
  clipboard-plus: "\f2ce",
  clipboard-text: "\f2cf",
  clipboard: "\f2d0",
  clippy: "\f2d1",
  clock-alert: "\f2d2",
  clock-end: "\f2d3",
  clock-fast: "\f2d4",
  clock-in: "\f2d5",
  clock-out: "\f2d6",
  clock-start: "\f2d7",
  clock: "\f2d8",
  close-circle-outline: "\f2d9",
  close-circle: "\f2da",
  close-network: "\f2db",
  close-octagon-outline: "\f2dc",
  close-octagon: "\f2dd",
  close-outline: "\f2de",
  close: "\f2df",
  closed-caption: "\f2e0",
  cloud-braces: "\f2e1",
  cloud-check: "\f2e2",
  cloud-circle: "\f2e3",
  cloud-download: "\f2e4",
  cloud-outline-off: "\f2e5",
  cloud-outline: "\f2e6",
  cloud-print-outline: "\f2e7",
  cloud-print: "\f2e8",
  cloud-sync: "\f2e9",
  cloud-tags: "\f2ea",
  cloud-upload: "\f2eb",
  cloud: "\f2ec",
  code-array: "\f2ed",
  code-braces: "\f2ee",
  code-brackets: "\f2ef",
  code-equal: "\f2f0",
  code-greater-than-or-equal: "\f2f1",
  code-greater-than: "\f2f2",
  code-less-than-or-equal: "\f2f3",
  code-less-than: "\f2f4",
  code-not-equal-variant: "\f2f5",
  code-not-equal: "\f2f6",
  code-parentheses: "\f2f7",
  code-string: "\f2f8",
  code-tags-check: "\f2f9",
  code-tags: "\f2fa",
  codepen: "\f2fb",
  coffee-outline: "\f2fc",
  coffee-to-go: "\f2fd",
  coffee: "\f2fe",
  coin: "\f2ff",
  coins: "\f300",
  collage: "\f301",
  color-helper: "\f302",
  comment-account-outline: "\f303",
  comment-account: "\f304",
  comment-alert-outline: "\f305",
  comment-alert: "\f306",
  comment-check-outline: "\f307",
  comment-check: "\f308",
  comment-multipe-outline: "\f309",
  comment-outline: "\f30a",
  comment-plus-outline: "\f30b",
  comment-processing-outline: "\f30c",
  comment-processing: "\f30d",
  comment-question-outline: "\f30e",
  comment-remove-outline: "\f30f",
  comment-text-outline: "\f310",
  comment-text: "\f311",
  comment: "\f312",
  compare: "\f313",
  compass-outline: "\f314",
  compass: "\f315",
  cone: "\f316",
  console-line: "\f317",
  console: "\f318",
  contact-mail: "\f319",
  contacts: "\f31a",
  content-copy: "\f31b",
  content-cut: "\f31c",
  content-duplicate: "\f31d",
  content-paste: "\f31e",
  content-save-all: "\f31f",
  content-save-settings: "\f320",
  content-save: "\f321",
  contrast-box: "\f322",
  contrast-circle: "\f323",
  contrast: "\f324",
  controller-xbox: "\f325",
  cookie: "\f326",
  copyright: "\f327",
  corn: "\f328",
  counter: "\f329",
  cow: "\f32a",
  creation: "\f32b",
  credit-card-multiple: "\f32c",
  credit-card-off: "\f32d",
  credit-card-plus: "\f32e",
  credit-card-scan: "\f32f",
  credit-card: "\f330",
  crop-free: "\f331",
  crop-landscape: "\f332",
  crop-portrait: "\f333",
  crop-rotate: "\f334",
  crop-square: "\f335",
  crop: "\f336",
  crosshairs-gps: "\f337",
  crosshairs: "\f338",
  crown: "\f339",
  cube-outline: "\f33a",
  cube-send: "\f33b",
  cube-unfolded: "\f33c",
  cube: "\f33d",
  cup-off: "\f33e",
  cup-water: "\f33f",
  cup: "\f340",
  currency-btc: "\f341",
  currency-chf: "\f342",
  currency-cny: "\f343",
  currency-eth: "\f344",
  currency-eur: "\f345",
  currency-gbp: "\f346",
  currency-inr: "\f347",
  currency-jpy: "\f348",
  currency-krw: "\f349",
  currency-ngn: "\f34a",
  currency-rub: "\f34b",
  currency-sign: "\f34c",
  currency-try: "\f34d",
  currency-twd: "\f34e",
  currency-usd-off: "\f34f",
  currency-usd: "\f350",
  cursor-default-outline: "\f351",
  cursor-default: "\f352",
  cursor-move: "\f353",
  cursor-pointer: "\f354",
  cursor-text: "\f355",
  curve-polygon: "\f356",
  cylinder: "\f357",
  data: "\f358",
  database-minus: "\f359",
  database-plus: "\f35a",
  database: "\f35b",
  debug-step-into: "\f35c",
  debug-step-out: "\f35d",
  debug-step-over: "\f35e",
  decagram-outline: "\f35f",
  decagram: "\f360",
  decimal-decrease: "\f361",
  decimal-increase: "\f362",
  delete-circle: "\f363",
  delete-empty: "\f364",
  delete-forever: "\f365",
  delete-sweep: "\f366",
  delete-variant: "\f367",
  delete: "\f368",
  delta: "\f369",
  deskphone: "\f36a",
  desktop-classic: "\f36b",
  desktop-mac: "\f36c",
  desktop-tower: "\f36d",
  details: "\f36e",
  developer-board: "\f36f",
  deviantart: "\f370",
  dialpad: "\f371",
  diamond: "\f372",
  dice-1: "\f373",
  dice-2: "\f374",
  dice-3: "\f375",
  dice-4: "\f376",
  dice-5: "\f377",
  dice-6: "\f378",
  dice-d10: "\f379",
  dice-d20: "\f37a",
  dice-d4: "\f37b",
  dice-d6: "\f37c",
  dice-d8: "\f37d",
  dice-multiple: "\f37e",
  dice: "\f37f",
  dictionary: "\f380",
  dip-switch: "\f381",
  directions-fork: "\f382",
  directions: "\f383",
  discord: "\f384",
  disk-alert: "\f385",
  disk: "\f386",
  disqus-outline: "\f387",
  disqus: "\f388",
  division-box: "\f389",
  division: "\f38a",
  dna: "\f38b",
  dns: "\f38c",
  do-not-disturb-off: "\f38d",
  do-not-disturb: "\f38e",
  document: "\f38f",
  dolby: "\f390",
  domain: "\f391",
  donkey: "\f392",
  dots-horizontal-circle: "\f393",
  dots-horizontal: "\f394",
  dots-vertical-circle: "\f395",
  dots-vertical: "\f396",
  douban: "\f397",
  download: "\f398",
  drag-horizontal: "\f399",
  drag-vertical: "\f39a",
  drag: "\f39b",
  drawing-box: "\f39c",
  drawing: "\f39d",
  dribbble-box: "\f39e",
  dribbble: "\f39f",
  drone: "\f3a0",
  dropbox: "\f3a1",
  drupal: "\f3a2",
  duck: "\f3a3",
  dumbbell: "\f3a4",
  ear-hearing: "\f3a5",
  earth-box-off: "\f3a6",
  earth-box: "\f3a7",
  earth-off: "\f3a8",
  earth: "\f3a9",
  ebay: "\f3aa",
  edge: "\f3ab",
  eject: "\f3ac",
  elephant: "\f3ad",
  elevation-decline: "\f3ae",
  elevation-rise: "\f3af",
  elevator: "\f3b0",
  ellipse: "\f3b1",
  email-alert: "\f3b2",
  email-open-outline: "\f3b3",
  email-open: "\f3b4",
  email-outline: "\f3b5",
  email-secure: "\f3b6",
  email-variant: "\f3b7",
  email: "\f3b8",
  emby: "\f3b9",
  emoticon-cool: "\f3ba",
  emoticon-dead: "\f3bb",
  emoticon-devil: "\f3bc",
  emoticon-excited: "\f3bd",
  emoticon-happy: "\f3be",
  emoticon-neutral: "\f3bf",
  emoticon-poop: "\f3c0",
  emoticon-sad: "\f3c1",
  emoticon-tongue: "\f3c2",
  emoticon: "\f3c3",
  engine-outline: "\f3c4",
  engine: "\f3c5",
  equal-box: "\f3c6",
  equal: "\f3c7",
  eraser-variant: "\f3c8",
  eraser: "\f3c9",
  escalator: "\f3ca",
  ethernet-cable-off: "\f3cb",
  ethernet-cable: "\f3cc",
  ethernet: "\f3cd",
  etsy: "\f3ce",
  ev-station: "\f3cf",
  eventbrite: "\f3d0",
  evernote: "\f3d1",
  exclamation: "\f3d2",
  exit-to-app: "\f3d3",
  export: "\f3d4",
  eye-off: "\f3d5",
  eye-outline-off: "\f3d6",
  eye-outline: "\f3d7",
  eye: "\f3d8",
  eyedropper-variant: "\f3d9",
  eyedropper: "\f3da",
  face-profile: "\f3db",
  face: "\f3dc",
  facebook-box: "\f3dd",
  facebook-messenger: "\f3de",
  facebook: "\f3df",
  factory: "\f3e0",
  fan: "\f3e1",
  fast-forward-outline: "\f3e2",
  fast-forward: "\f3e3",
  fax: "\f3e4",
  feather: "\f3e5",
  ferry: "\f3e6",
  file-account: "\f3e7",
  file-chart: "\f3e8",
  file-check: "\f3e9",
  file-cloud: "\f3ea",
  file-delimited: "\f3eb",
  file-document-box: "\f3ec",
  file-document: "\f3ed",
  file-excel-box: "\f3ee",
  file-excel: "\f3ef",
  file-export: "\f3f0",
  file-find: "\f3f1",
  file-hidden: "\f3f2",
  file-image-box: "\f3f3",
  file-image: "\f3f4",
  file-import: "\f3f5",
  file-lock: "\f3f6",
  file-move: "\f3f7",
  file-multiple: "\f3f8",
  file-music: "\f3f9",
  file-outline: "\f3fa",
  file-pdf-box: "\f3fb",
  file-pdf: "\f3fc",
  file-plus: "\f3fd",
  file-powerpoint-box: "\f3fe",
  file-powerpoint: "\f3ff",
  file-presentation-box: "\f400",
  file-restore: "\f401",
  file-send: "\f402",
  file-tree: "\f403",
  file-video: "\f404",
  file-word-box: "\f405",
  file-word: "\f406",
  file-xml: "\f407",
  file: "\f408",
  fill: "\f409",
  film: "\f40a",
  filmstrip-off: "\f40b",
  filmstrip: "\f40c",
  filter-outline: "\f40d",
  filter-remove-outline: "\f40e",
  filter-remove: "\f40f",
  filter-variant: "\f410",
  filter: "\f411",
  find-replace: "\f412",
  fingerprint: "\f413",
  fire: "\f414",
  fish: "\f415",
  fit-to-screen: "\f416",
  flag-checkered-variant: "\f417",
  flag-checkered: "\f418",
  flag-outline-variant: "\f419",
  flag-outline: "\f41a",
  flag-triangle: "\f41b",
  flag-variant: "\f41c",
  flag: "\f41d",
  flash-auto: "\f41e",
  flash-off: "\f41f",
  flash-outline: "\f420",
  flash-red-eye: "\f421",
  flash: "\f422",
  flashlight-off: "\f423",
  flashlight: "\f424",
  flask-empty-outline: "\f425",
  flask-empty: "\f426",
  flask-outline: "\f427",
  flask: "\f428",
  flattr: "\f429",
  flickr-after: "\f42a",
  flickr-before: "\f42b",
  flip-to-back: "\f42c",
  flip-to-front: "\f42d",
  floppy: "\f42e",
  flower: "\f42f",
  folder-account: "\f430",
  folder-download: "\f431",
  folder-google-drive: "\f432",
  folder-image: "\f433",
  folder-lock-open: "\f434",
  folder-lock: "\f435",
  folder-move: "\f436",
  folder-multiple-image: "\f437",
  folder-multiple-outline: "\f438",
  folder-multiple: "\f439",
  folder-open: "\f43a",
  folder-outline-lock: "\f43b",
  folder-outline: "\f43c",
  folder-plus: "\f43d",
  folder-remove: "\f43e",
  folder-star: "\f43f",
  folder-upload: "\f440",
  folder: "\f441",
  font-awesome: "\f442",
  food-apple: "\f443",
  food-croissant: "\f444",
  food-fork-drink: "\f445",
  food-off: "\f446",
  food-variant: "\f447",
  food: "\f448",
  football-australian: "\f449",
  football-helmet: "\f44a",
  football: "\f44b",
  footer: "\f44c",
  forklift: "\f44d",
  format-align-bottom: "\f44e",
  format-align-center: "\f44f",
  format-align-justify: "\f450",
  format-align-left: "\f451",
  format-align-middle: "\f452",
  format-align-right: "\f453",
  format-align-top: "\f454",
  format-annotation-plus: "\f455",
  format-bold: "\f456",
  format-clear: "\f457",
  format-color-fill: "\f458",
  format-color-text: "\f459",
  format-color: "\f45a",
  format-float-center: "\f45b",
  format-float-left: "\f45c",
  format-float-none: "\f45d",
  format-float-right: "\f45e",
  format-font: "\f45f",
  format-header-1: "\f460",
  format-header-2: "\f461",
  format-header-3: "\f462",
  format-header-4: "\f463",
  format-header-5: "\f464",
  format-header-6: "\f465",
  format-header-decrease: "\f466",
  format-header-down: "\f467",
  format-header-equal: "\f468",
  format-header-increase: "\f469",
  format-header-pound: "\f46a",
  format-header-up: "\f46b",
  format-horizontal-align-center: "\f46c",
  format-horizontal-align-left: "\f46d",
  format-horizontal-align-right: "\f46e",
  format-indent-decrease: "\f46f",
  format-indent-increase: "\f470",
  format-italic: "\f471",
  format-line-spacing: "\f472",
  format-line-style: "\f473",
  format-line-weight: "\f474",
  format-list-bulleted-type: "\f475",
  format-list-bulleted: "\f476",
  format-list-checks: "\f477",
  format-list-numbers: "\f478",
  format-object-inline: "\f479",
  format-object-square: "\f47a",
  format-object-tight: "\f47b",
  format-object-top-bottom: "\f47c",
  format-page-break: "\f47d",
  format-paint: "\f47e",
  format-paragraph: "\f47f",
  format-pilcrow: "\f480",
  format-quote-close: "\f481",
  format-quote-open: "\f482",
  format-section: "\f483",
  format-size: "\f484",
  format-strikethrough-variant: "\f485",
  format-strikethrough: "\f486",
  format-subscript: "\f487",
  format-superscript: "\f488",
  format-text: "\f489",
  format-textdirection-l-to-r: "\f48a",
  format-textdirection-r-to-l: "\f48b",
  format-title: "\f48c",
  format-underline: "\f48d",
  format-vertical-align-bottom: "\f48e",
  format-vertical-align-center: "\f48f",
  format-vertical-align-top: "\f490",
  forum: "\f491",
  forward: "\f492",
  foursquare: "\f493",
  fridge-filled-bottom: "\f494",
  fridge-filled-top: "\f495",
  fridge-filled: "\f496",
  fridge: "\f497",
  fuel: "\f498",
  fullscreen-exit: "\f499",
  fullscreen: "\f49a",
  function: "\f49b",
  gamepad-variant: "\f49c",
  gamepad: "\f49d",
  garage-open: "\f49e",
  garage: "\f49f",
  gas-cylinder: "\f4a0",
  gas-station: "\f4a1",
  gate: "\f4a2",
  gauge: "\f4a3",
  gavel: "\f4a4",
  gender-female: "\f4a5",
  gender-male-female: "\f4a6",
  gender-male: "\f4a7",
  gender-transgender: "\f4a8",
  gesture-double-tap: "\f4a9",
  gesture-swipe-down: "\f4aa",
  gesture-swipe-left: "\f4ab",
  gesture-swipe-right: "\f4ac",
  gesture-swipe-up: "\f4ad",
  gesture-tap: "\f4ae",
  gesture-two-double-tap: "\f4af",
  gesture-two-tap: "\f4b0",
  gesture: "\f4b1",
  ghost: "\f4b2",
  gift: "\f4b3",
  git: "\f4b4",
  github-box: "\f4b5",
  github-face: "\f4b6",
  github: "\f4b7",
  glass-flute: "\f4b8",
  glass-mug: "\f4b9",
  glass-stange: "\f4ba",
  glass-tulip: "\f4bb",
  glassdoor: "\f4bc",
  glasses: "\f4bd",
  gmail: "\f4be",
  gnome: "\f4bf",
  gondola: "\f4c0",
  google-analytics: "\f4c1",
  google-assistant: "\f4c2",
  google-cardboard: "\f4c3",
  google-chrome: "\f4c4",
  google-circles-communities: "\f4c5",
  google-circles-extended: "\f4c6",
  google-circles-invite: "\f4c7",
  google-circles: "\f4c8",
  google-controller-off: "\f4c9",
  google-controller: "\f4ca",
  google-drive: "\f4cb",
  google-earth: "\f4cc",
  google-glass: "\f4cd",
  google-keep: "\f4ce",
  google-maps: "\f4cf",
  google-nearby: "\f4d0",
  google-pages: "\f4d1",
  google-photos: "\f4d2",
  google-physical-web: "\f4d3",
  google-play: "\f4d4",
  google-plus-box: "\f4d5",
  google-plus: "\f4d6",
  google-translate: "\f4d7",
  google-wallet: "\f4d8",
  google: "\f4d9",
  gradient: "\f4da",
  grease-pencil: "\f4db",
  grid-large: "\f4dc",
  grid-off: "\f4dd",
  grid: "\f4de",
  group: "\f4df",
  guitar-acoustic: "\f4e0",
  guitar-electric: "\f4e1",
  hackernews: "\f4e2",
  hamburger: "\f4e3",
  hand-pointing-right: "\f4e4",
  hanger: "\f4e5",
  hangouts: "\f4e6",
  harddisk: "\f4e7",
  headphones-box: "\f4e8",
  headphones-off: "\f4e9",
  headphones-settings: "\f4ea",
  headphones: "\f4eb",
  headset-dock: "\f4ec",
  headset-off: "\f4ed",
  headset: "\f4ee",
  heart-box-outline: "\f4ef",
  heart-box: "\f4f0",
  heart-broken: "\f4f1",
  heart-half-full-outline: "\f4f2",
  heart-half-outline: "\f4f3",
  heart-half: "\f4f4",
  heart-off: "\f4f5",
  heart-outline: "\f4f6",
  heart-pulse: "\f4f7",
  heart: "\f4f8",
  help-box: "\f4f9",
  help-circle-outline: "\f4fa",
  help-circle: "\f4fb",
  help: "\f4fc",
  hexagon-multiple: "\f4fd",
  hexagon-outline: "\f4fe",
  hexagon: "\f4ff",
  high-definition: "\f500",
  highway: "\f501",
  history: "\f502",
  hololens: "\f503",
  home-assistant: "\f504",
  home-automation: "\f505",
  home-circle: "\f506",
  home-map-marker: "\f507",
  home-modern: "\f508",
  home-outline: "\f509",
  home-variant: "\f50a",
  home: "\f50b",
  hook-off: "\f50c",
  hook: "\f50d",
  hops: "\f50e",
  hospital-building: "\f50f",
  hospital-marker: "\f510",
  hospital: "\f511",
  hotel: "\f512",
  houzz-box: "\f513",
  human-child: "\f514",
  human-female: "\f515",
  human-greeting: "\f516",
  human-handsdown: "\f517",
  human-handsup: "\f518",
  human-male-female: "\f519",
  human-male: "\f51a",
  human-pregnant: "\f51b",
  human: "\f51c",
  humble-bundle: "\f51d",
  icon-null: "\f51e",
  image-album: "\f51f",
  image-area-close: "\f520",
  image-area: "\f521",
  image-broken-variant: "\f522",
  image-broken: "\f523",
  image-filter-black-white: "\f524",
  image-filter-center-focus-weak: "\f525",
  image-filter-center-focus: "\f526",
  image-filter-drama: "\f527",
  image-filter-frames: "\f528",
  image-filter-hdr: "\f529",
  image-filter-none: "\f52a",
  image-filter-tilt-shift: "\f52b",
  image-filter-vintage: "\f52c",
  image-filter: "\f52d",
  image-mutliple: "\f52e",
  image: "\f52f",
  import: "\f530",
  inbox-arrow-down: "\f531",
  inbox-arrow-up: "\f532",
  inbox: "\f533",
  incognito: "\f534",
  indent: "\f535",
  infinity: "\f536",
  information-outline: "\f537",
  information-variant: "\f538",
  information: "\f539",
  instagram: "\f53a",
  instapaper: "\f53b",
  internet-explorer: "\f53c",
  invert-colors: "\f53d",
  itunes: "\f53e",
  jeepney: "\f53f",
  jira: "\f540",
  jsfiddle: "\f541",
  json: "\f542",
  keg: "\f543",
  kettle: "\f544",
  key-change: "\f545",
  key-minus: "\f546",
  key-plus: "\f547",
  key-remove: "\f548",
  key-variant: "\f549",
  key: "\f54a",
  keyboard-backspace: "\f54b",
  keyboard-caps: "\f54c",
  keyboard-close: "\f54d",
  keyboard-off: "\f54e",
  keyboard-return: "\f54f",
  keyboard-tab: "\f550",
  keyboard-variant: "\f551",
  keyboard: "\f552",
  kickstarter: "\f553",
  kodi: "\f554",
  label-outline: "\f555",
  label: "\f556",
  lambda: "\f557",
  lamp: "\f558",
  lan-connect: "\f559",
  lan-disconnect: "\f55a",
  lan-pending: "\f55b",
  lan: "\f55c",
  language-c: "\f55d",
  language-cpp: "\f55e",
  language-csharp: "\f55f",
  language-css3: "\f560",
  language-go: "\f561",
  language-html5: "\f562",
  language-javascript: "\f563",
  language-php: "\f564",
  language-python-text: "\f565",
  language-python: "\f566",
  language-r: "\f567",
  language-swift: "\f568",
  language-typescript: "\f569",
  laptop-chromebook: "\f56a",
  laptop-mac: "\f56b",
  laptop-off: "\f56c",
  laptop-windows: "\f56d",
  laptop: "\f56e",
  lastfm: "\f56f",
  launch: "\f570",
  lava-lamp: "\f571",
  layers-off: "\f572",
  layers: "\f573",
  lead-pencil: "\f574",
  leaf: "\f575",
  led-off: "\f576",
  led-on: "\f577",
  led-outline: "\f578",
  led-strip: "\f579",
  led-variant-off: "\f57a",
  led-variant-on: "\f57b",
  led-variant-outline: "\f57c",
  library-books: "\f57d",
  library-music: "\f57e",
  library-plus: "\f57f",
  library: "\f580",
  lightbulb-on-outline: "\f581",
  lightbulb-on: "\f582",
  lightbulb-outline: "\f583",
  lightbulb: "\f584",
  line: "\f585",
  link-off: "\f586",
  link-variant-off: "\f587",
  link-variant: "\f588",
  link: "\f589",
  linkedin-box: "\f58a",
  linkedin: "\f58b",
  linode: "\f58c",
  linux: "\f58d",
  loading: "\f58e",
  lock-outline: "\f58f",
  lock-plus: "\f590",
  lock-reset: "\f591",
  lock-screen: "\f592",
  lock-unlocked-outline: "\f593",
  lock-unlocked: "\f594",
  lock: "\f595",
  locker-multiple: "\f596",
  locker: "\f597",
  login-variant: "\f598",
  login: "\f599",
  logout-variant: "\f59a",
  logout: "\f59b",
  looks: "\f59c",
  loop: "\f59d",
  loupe: "\f59e",
  lumx: "\f59f",
  magnet-on: "\f5a0",
  magnet: "\f5a1",
  magnify-minus-outline: "\f5a2",
  magnify-minus: "\f5a3",
  magnify-plus-outline: "\f5a4",
  magnify-plus: "\f5a5",
  magnify: "\f5a6",
  mail-ru: "\f5a7",
  mailbox: "\f5a8",
  map-marker-circle: "\f5a9",
  map-marker-minus: "\f5aa",
  map-marker-multiple: "\f5ab",
  map-marker-off: "\f5ac",
  map-marker-outline: "\f5ad",
  map-marker-plus: "\f5ae",
  map-marker-radius: "\f5af",
  map-marker: "\f5b0",
  map: "\f5b1",
  margin: "\f5b2",
  markdown: "\f5b3",
  marker-check: "\f5b4",
  marker: "\f5b5",
  martini: "\f5b6",
  material-ui: "\f5b7",
  matrix: "\f5b8",
  maxcdn: "\f5b9",
  medical-bag: "\f5ba",
  medium: "\f5bb",
  memory: "\f5bc",
  menu-down-outline: "\f5bd",
  menu-down: "\f5be",
  menu-left: "\f5bf",
  menu-right: "\f5c0",
  menu-up-outline: "\f5c1",
  menu-up: "\f5c2",
  menu: "\f5c3",
  message-alert: "\f5c4",
  message-bulleted-off: "\f5c5",
  message-bulleted: "\f5c6",
  message-draw: "\f5c7",
  message-image: "\f5c8",
  message-outline: "\f5c9",
  message-plus: "\f5ca",
  message-processing: "\f5cb",
  message-reply-text: "\f5cc",
  message-reply: "\f5cd",
  message-settings-variant: "\f5ce",
  message-settings: "\f5cf",
  message-text-outline: "\f5d0",
  message-text: "\f5d1",
  message-video: "\f5d2",
  message: "\f5d3",
  meteor: "\f5d4",
  metronome-tick: "\f5d5",
  metronome: "\f5d6",
  micro-sd: "\f5d7",
  microphone-off: "\f5d8",
  microphone-outline: "\f5d9",
  microphone-settings: "\f5da",
  microphone-variant-off: "\f5db",
  microphone-variant: "\f5dc",
  microphone: "\f5dd",
  microscope: "\f5de",
  microsoft: "\f5df",
  minecraft: "\f5e0",
  minus-box-outline: "\f5e1",
  minus-box: "\f5e2",
  minus-circle-outline: "\f5e3",
  minus-circle: "\f5e4",
  minus-network: "\f5e5",
  minus: "\f5e6",
  mixcloud: "\f5e7",
  mixer: "\f5e8",
  monitor-multiple: "\f5e9",
  monitor: "\f5ea",
  more: "\f5eb",
  mouse-off: "\f5ec",
  mouse-variant-off: "\f5ed",
  mouse-variant: "\f5ee",
  mouse: "\f5ef",
  move-resize-variant: "\f5f0",
  move-resize: "\f5f1",
  movie-roll: "\f5f2",
  movie: "\f5f3",
  multiplication-box: "\f5f4",
  multiplication: "\f5f5",
  mushroom-outline: "\f5f6",
  mushroom: "\f5f7",
  music-box-outline: "\f5f8",
  music-box: "\f5f9",
  music-circle: "\f5fa",
  music-note-bluetooth-off: "\f5fb",
  music-note-bluetooth: "\f5fc",
  music-note-eighth: "\f5fd",
  music-note-half: "\f5fe",
  music-note-off: "\f5ff",
  music-note-quarter: "\f600",
  music-note-sixteenth: "\f601",
  music-note-whole: "\f602",
  music-note: "\f603",
  music-off: "\f604",
  music: "\f605",
  nature-people: "\f606",
  nature: "\f607",
  navigation: "\f608",
  near-me: "\f609",
  needle: "\f60a",
  nest-protect: "\f60b",
  nest-thermostat: "\f60c",
  netflix: "\f60d",
  network-download: "\f60e",
  network-question: "\f60f",
  network-upload: "\f610",
  network: "\f611",
  new-box: "\f612",
  newspaper: "\f613",
  nfc-tap: "\f614",
  nfc-variant: "\f615",
  nfc: "\f616",
  ninja: "\f617",
  nintendo-switch: "\f618",
  no: "\f619",
  nodejs: "\f61a",
  not-equal: "\f61b",
  note-multiple-outline: "\f61c",
  note-multiple: "\f61d",
  note-outline: "\f61e",
  note-plus-outline: "\f61f",
  note-plus: "\f620",
  note-text: "\f621",
  note: "\f622",
  notification-clear-all: "\f623",
  npm: "\f624",
  nuke: "\f625",
  numeric-0-box-multiple-outline: "\f626",
  numeric-0-box-outline: "\f627",
  numeric-0-box: "\f628",
  numeric-1-box-multiple-outline: "\f629",
  numeric-1-box-outline: "\f62a",
  numeric-1-box: "\f62b",
  numeric-2-box-multiple-outline: "\f62c",
  numeric-2-box-outline: "\f62d",
  numeric-2-box: "\f62e",
  numeric-3-box-multiple-outline: "\f62f",
  numeric-3-box-outline: "\f630",
  numeric-3-box: "\f631",
  numeric-4-box-multiple-outline: "\f632",
  numeric-4-box-outline: "\f633",
  numeric-4-box: "\f634",
  numeric-5-box-multiple-outline: "\f635",
  numeric-5-box-outline: "\f636",
  numeric-5-box: "\f637",
  numeric-6-box-multiple-outline: "\f638",
  numeric-6-box-outline: "\f639",
  numeric-6-box: "\f63a",
  numeric-7-box-multiple-outline: "\f63b",
  numeric-7-box-outline: "\f63c",
  numeric-7-box: "\f63d",
  numeric-8-box-multiple-outline: "\f63e",
  numeric-8-box-outline: "\f63f",
  numeric-8-box: "\f640",
  numeric-9-box-multiple-outline: "\f641",
  numeric-9-box-outline: "\f642",
  numeric-9-box: "\f643",
  numeric-9-plus-box-multiple-outline: "\f644",
  numeric-9-plus-box-outline: "\f645",
  numeric-9-plus-box: "\f646",
  numeric: "\f647",
  nut: "\f648",
  nutriton: "\f649",
  oar: "\f64a",
  octagon-outline: "\f64b",
  octagon: "\f64c",
  octagram-outline: "\f64d",
  octagram: "\f64e",
  odnoklassniki: "\f64f",
  office: "\f650",
  oil-temperature: "\f651",
  oil: "\f652",
  omega: "\f653",
  onedrive: "\f654",
  onenote: "\f655",
  opacity: "\f656",
  open-in-app: "\f657",
  open-in-new: "\f658",
  openid: "\f659",
  opera: "\f65a",
  orbit: "\f65b",
  ornament-variant: "\f65c",
  ornament: "\f65d",
  outbox: "\f65e",
  outdent: "\f65f",
  owl: "\f660",
  package-down: "\f661",
  package-up: "\f662",
  package-variant-closed: "\f663",
  package-variant: "\f664",
  package: "\f665",
  page-first: "\f666",
  page-last: "\f667",
  page-layout-body: "\f668",
  page-layout-footer: "\f669",
  page-layout-header: "\f66a",
  page-layout-sidebar-left: "\f66b",
  page-layout-sidebar-right: "\f66c",
  palette-advanced: "\f66d",
  palette: "\f66e",
  pan: "\f66f",
  panda: "\f670",
  pandora: "\f671",
  panorama-fisheye: "\f672",
  panorama-horizontal: "\f673",
  panorama-vertical: "\f674",
  panorama-wide-angle: "\f675",
  panorama: "\f676",
  paper-cut-vertical: "\f677",
  paperclip: "\f678",
  parking: "\f679",
  passport: "\f67a",
  pause-circle-outline: "\f67b",
  pause-circle: "\f67c",
  pause-octagon-outline: "\f67d",
  pause-octagon: "\f67e",
  pause: "\f67f",
  paw-off: "\f680",
  paw: "\f681",
  pen: "\f682",
  pencil-box-outline: "\f683",
  pencil-box: "\f684",
  pencil-circle-outline: "\f685",
  pencil-circle: "\f686",
  pencil-lock: "\f687",
  pencil-off: "\f688",
  pencil: "\f689",
  pentagon-outline: "\f68a",
  pentagon: "\f68b",
  people: "\f68c",
  percent: "\f68d",
  periodic-table-co2: "\f68e",
  periscope: "\f68f",
  person-box: "\f690",
  person-minus: "\f691",
  person-plus: "\f692",
  pharmacy: "\f693",
  phone-bluetooth: "\f694",
  phone-classic: "\f695",
  phone-dots: "\f696",
  phone-forward: "\f697",
  phone-hangup: "\f698",
  phone-in-talk: "\f699",
  phone-incoming: "\f69a",
  phone-locked: "\f69b",
  phone-log: "\f69c",
  phone-minus: "\f69d",
  phone-missed: "\f69e",
  phone-outgoing: "\f69f",
  phone-paused: "\f6a0",
  phone-plus: "\f6a1",
  phone-voip: "\f6a2",
  phone: "\f6a3",
  pi-box: "\f6a4",
  pi: "\f6a5",
  piano: "\f6a6",
  picture: "\f6a7",
  pig: "\f6a8",
  pill: "\f6a9",
  pillar: "\f6aa",
  pin-off: "\f6ab",
  pin: "\f6ac",
  pine-tree-box: "\f6ad",
  pine-tree: "\f6ae",
  pinterest-box: "\f6af",
  pinterest: "\f6b0",
  pipe-disconnected: "\f6b1",
  pipe: "\f6b2",
  pistol: "\f6b3",
  pizza: "\f6b4",
  plane-shield: "\f6b5",
  plane: "\f6b6",
  play-box-outline: "\f6b7",
  play-circle-outline: "\f6b8",
  play-circle: "\f6b9",
  play-pause: "\f6ba",
  play-protected-content: "\f6bb",
  play: "\f6bc",
  playlist-check: "\f6bd",
  playlist-minus: "\f6be",
  playlist-play: "\f6bf",
  playlist-plus: "\f6c0",
  playlist-remove: "\f6c1",
  playstation: "\f6c2",
  plex: "\f6c3",
  plus-box-outline: "\f6c4",
  plus-box: "\f6c5",
  plus-circle-multiple-outline: "\f6c6",
  plus-circle-outline: "\f6c7",
  plus-circle: "\f6c8",
  plus-network: "\f6c9",
  plus-one: "\f6ca",
  plus-outline: "\f6cb",
  plus: "\f6cc",
  pocket: "\f6cd",
  point: "\f6ce",
  pokeball: "\f6cf",
  polaroid: "\f6d0",
  poll-box: "\f6d1",
  poll: "\f6d2",
  polymer: "\f6d3",
  pool: "\f6d4",
  popcorn: "\f6d5",
  pot-mix: "\f6d6",
  pot: "\f6d7",
  pound-box: "\f6d8",
  pound: "\f6d9",
  power-plug-off: "\f6da",
  power-plug: "\f6db",
  power-settings: "\f6dc",
  power-socket-eu: "\f6dd",
  power-socket-uk: "\f6de",
  power-socket-us: "\f6df",
  power-socket: "\f6e0",
  power: "\f6e1",
  prescription: "\f6e2",
  presentation-play: "\f6e3",
  presentation: "\f6e4",
  printer-3d: "\f6e5",
  printer-alert: "\f6e6",
  printer-settings: "\f6e7",
  printer: "\f6e8",
  priority-high: "\f6e9",
  priority-low: "\f6ea",
  professional-hexagon: "\f6eb",
  project-user: "\f6ec",
  project: "\f6ed",
  projector-screen: "\f6ee",
  projector: "\f6ef",
  publish: "\f6f0",
  pulse: "\f6f1",
  puzzle: "\f6f2",
  qqchat: "\f6f3",
  qrcode-scan: "\f6f4",
  qrcode: "\f6f5",
  quadcopter: "\f6f6",
  quality-high: "\f6f7",
  question-mark-circle: "\f6f8",
  quick-reply: "\f6f9",
  quicktime: "\f6fa",
  rabbit: "\f6fb",
  radar: "\f6fc",
  radiator: "\f6fd",
  radio-handheld: "\f6fe",
  radio-tower: "\f6ff",
  radio: "\f700",
  radioactive: "\f701",
  radiobox-blank: "\f702",
  radiobox-marked: "\f703",
  raspberrypi: "\f704",
  ray-end-arrow: "\f705",
  ray-end: "\f706",
  ray-start-arrow: "\f707",
  ray-start-end: "\f708",
  ray-start: "\f709",
  ray-vertex: "\f70a",
  rdio: "\f70b",
  react: "\f70c",
  read: "\f70d",
  readability: "\f70e",
  receipt: "\f70f",
  record-rec: "\f710",
  record: "\f711",
  rectangle: "\f712",
  recycle: "\f713",
  reddit: "\f714",
  redo-variant: "\f715",
  redo: "\f716",
  refresh: "\f717",
  relative-scale: "\f718",
  reload: "\f719",
  remote: "\f71a",
  rename-box: "\f71b",
  reorder-horizontal: "\f71c",
  reorder-vertical: "\f71d",
  repeat-off: "\f71e",
  repeat-once: "\f71f",
  repeat: "\f720",
  replay: "\f721",
  reply-all: "\f722",
  reply: "\f723",
  reproduction: "\f724",
  resize-bottom-right: "\f725",
  responsive: "\f726",
  restart: "\f727",
  restore: "\f728",
  rewind-outline: "\f729",
  rewind: "\f72a",
  rhombus-outline: "\f72b",
  rhombus: "\f72c",
  ribbon: "\f72d",
  rice: "\f72e",
  ring: "\f72f",
  road-variant: "\f730",
  road: "\f731",
  robot: "\f732",
  rocket: "\f733",
  roomba: "\f734",
  rotate-3d: "\f735",
  rotate-90: "\f736",
  rotate-left-variant: "\f737",
  rotate-left: "\f738",
  rotate-right-variant: "\f739",
  rotate-right: "\f73a",
  rotate-world: "\f73b",
  rounded-corner: "\f73c",
  router-wireless: "\f73d",
  routes: "\f73e",
  rowing: "\f73f",
  rss-box: "\f740",
  rss: "\f741",
  ruler: "\f742",
  run-fast: "\f743",
  run: "\f744",
  sale: "\f745",
  sass: "\f746",
  satellite-variant: "\f747",
  satellite: "\f748",
  saxophone: "\f749",
  scale-balance: "\f74a",
  scale-bathroom: "\f74b",
  scale-object: "\f74c",
  scale: "\f74d",
  scanner: "\f74e",
  schematic: "\f74f",
  school: "\f750",
  screen-rotation-lock: "\f751",
  screen-rotation: "\f752",
  screwdriver: "\f753",
  script: "\f754",
  sd: "\f755",
  seal: "\f756",
  search-web: "\f757",
  seat-flat-angled: "\f758",
  seat-flat: "\f759",
  seat-individual-suite: "\f75a",
  seat-legroom-extra: "\f75b",
  seat-legroom-normal: "\f75c",
  seat-legroom-reduced: "\f75d",
  seat-recline-extra: "\f75e",
  seat-recline-normal: "\f75f",
  security-home: "\f760",
  security-network: "\f761",
  security: "\f762",
  select-all: "\f763",
  select-inverse: "\f764",
  select-off: "\f765",
  select: "\f766",
  selection-off: "\f767",
  selection: "\f768",
  send-secure: "\f769",
  send: "\f76a",
  serial-port: "\f76b",
  server-minus: "\f76c",
  server-network-off: "\f76d",
  server-network: "\f76e",
  server-off: "\f76f",
  server-plus: "\f770",
  server-remove: "\f771",
  server-security: "\f772",
  server: "\f773",
  set-all: "\f774",
  set-center-right: "\f775",
  set-center: "\f776",
  set-left-center: "\f777",
  set-left-right: "\f778",
  set-left: "\f779",
  set-none: "\f77a",
  set-right: "\f77b",
  settings-box: "\f77c",
  settings: "\f77d",
  shape-circle-plus: "\f77e",
  shape-plus: "\f77f",
  shape-polygon-plus: "\f780",
  shape-rectangle-plus: "\f781",
  shape-square-plus: "\f782",
  share-variant: "\f783",
  share: "\f784",
  shield-half-full: "\f785",
  shield-outline: "\f786",
  shield: "\f787",
  shopping-music: "\f788",
  shopping: "\f789",
  shovel-off: "\f78a",
  shovel: "\f78b",
  shredder: "\f78c",
  shuffle-disabled: "\f78d",
  shuffle-variant: "\f78e",
  shuffle: "\f78f",
  sigma-lower: "\f790",
  sigma: "\f791",
  sign-caution: "\f792",
  sign-direction: "\f793",
  sign-text: "\f794",
  signal-2g: "\f795",
  signal-3g: "\f796",
  signal-4g: "\f797",
  signal-hspa-plus: "\f798",
  signal-hspa: "\f799",
  signal-off: "\f79a",
  signal-variant: "\f79b",
  signal: "\f79c",
  silverware-fork: "\f79d",
  silverware-spoon: "\f79e",
  silverware-variant: "\f79f",
  silverware: "\f7a0",
  sim-alert: "\f7a1",
  sim-off: "\f7a2",
  sim: "\f7a3",
  sitemap: "\f7a4",
  skip-backward: "\f7a5",
  skip-forward: "\f7a6",
  skip-next-circle-outline: "\f7a7",
  skip-next-circle: "\f7a8",
  skip-next: "\f7a9",
  skip-previous-circle-outline: "\f7aa",
  skip-previous-circle: "\f7ab",
  skip-previous: "\f7ac",
  skull: "\f7ad",
  skype-business: "\f7ae",
  skype: "\f7af",
  slack: "\f7b0",
  sleep-off: "\f7b1",
  sleep: "\f7b2",
  smoking-off: "\f7b3",
  smoking: "\f7b4",
  snapchat: "\f7b5",
  snowflake: "\f7b6",
  snowman: "\f7b7",
  soccer: "\f7b8",
  sofa: "\f7b9",
  solid: "\f7ba",
  sort-alphabetical: "\f7bb",
  sort-ascending: "\f7bc",
  sort-descending: "\f7bd",
  sort-numeric: "\f7be",
  sort-variant: "\f7bf",
  sort: "\f7c0",
  soundcloud: "\f7c1",
  source-branch: "\f7c2",
  source-commit-end-local: "\f7c3",
  source-commit-end: "\f7c4",
  source-commit-local: "\f7c5",
  source-commit-next-local: "\f7c6",
  source-commit-start-next-local: "\f7c7",
  source-commit-start: "\f7c8",
  source-commit: "\f7c9",
  source-fork: "\f7ca",
  source-merge: "\f7cb",
  source-pull: "\f7cc",
  soy-sauce: "\f7cd",
  speaker-off: "\f7ce",
  speaker-wireless: "\f7cf",
  speaker: "\f7d0",
  speedometer: "\f7d1",
  spellcheck: "\f7d2",
  sphere: "\f7d3",
  spotify: "\f7d4",
  spotlight-beam: "\f7d5",
  spotlight: "\f7d6",
  spray: "\f7d7",
  spreadsheet: "\f7d8",
  square-inc-cash: "\f7d9",
  square-inc: "\f7da",
  square-outline: "\f7db",
  square-root: "\f7dc",
  square: "\f7dd",
  stackexchange: "\f7de",
  stackoverflow: "\f7df",
  stadium: "\f7e0",
  stairs: "\f7e1",
  standard-definition: "\f7e2",
  star-circle: "\f7e3",
  star-half: "\f7e4",
  star-of-david: "\f7e5",
  star-off: "\f7e6",
  star-outline: "\f7e7",
  star: "\f7e8",
  steam: "\f7e9",
  steering: "\f7ea",
  step-backward-2: "\f7eb",
  step-backward: "\f7ec",
  step-forward-2: "\f7ed",
  step-forward: "\f7ee",
  stethoscope: "\f7ef",
  sticker-emoji: "\f7f0",
  sticker: "\f7f1",
  stocking: "\f7f2",
  stop-circle-outline: "\f7f3",
  stop-circle: "\f7f4",
  stop: "\f7f5",
  store-24-hour: "\f7f6",
  store: "\f7f7",
  stove: "\f7f8",
  subdirectory-arrow-left: "\f7f9",
  subdirectory-arrow-right: "\f7fa",
  subway-variant: "\f7fb",
  subway: "\f7fc",
  summit: "\f7fd",
  sunglasses: "\f7fe",
  surround-sound-2-0: "\f7ff",
  surround-sound-3-1: "\f800",
  surround-sound-5-1: "\f801",
  surround-sound-7-1: "\f802",
  surround-sound: "\f803",
  svg: "\f804",
  swap-horizontal: "\f805",
  swap-vertical: "\f806",
  swim: "\f807",
  switch: "\f808",
  sword-cross: "\f809",
  sword: "\f80a",
  sync-alert: "\f80b",
  sync-off: "\f80c",
  sync: "\f80d",
  tab-plus: "\f80e",
  tab-unselected: "\f80f",
  tab: "\f810",
  table-column-plus-after: "\f811",
  table-column-plus-before: "\f812",
  table-column-remove: "\f813",
  table-column-width: "\f814",
  table-edit: "\f815",
  table-large: "\f816",
  table-row-height: "\f817",
  table-row-plus-after: "\f818",
  table-row-plus-before: "\f819",
  table-row-remove: "\f81a",
  table: "\f81b",
  tablet-android: "\f81c",
  tablet-ipad: "\f81d",
  tablet: "\f81e",
  taco: "\f81f",
  tag-faces: "\f820",
  tag-heart: "\f821",
  tag-multiple: "\f822",
  tag-outline: "\f823",
  tag-plus: "\f824",
  tag-remove: "\f825",
  tag-text-outline: "\f826",
  tag: "\f827",
  target: "\f828",
  taxi: "\f829",
  teamviewer: "\f82a",
  telegram: "\f82b",
  television-classic: "\f82c",
  television-guide: "\f82d",
  television: "\f82e",
  temperature-celsius: "\f82f",
  temperature-fahrenheit: "\f830",
  temperature-kelvin: "\f831",
  tennis: "\f832",
  tent: "\f833",
  terrain: "\f834",
  test-tube: "\f835",
  text-shadow: "\f836",
  text-to-speech-off: "\f837",
  text-to-speech: "\f838",
  textbox-password: "\f839",
  textbox: "\f83a",
  texture: "\f83b",
  theater: "\f83c",
  theme-light-dark: "\f83d",
  thermometer-lines: "\f83e",
  thermometer: "\f83f",
  thought-bubble-outline: "\f840",
  thought-bubble: "\f841",
  thumb-down-outline: "\f842",
  thumb-down: "\f843",
  thumb-up-outline: "\f844",
  thumb-up: "\f845",
  thumbs-up-down: "\f846",
  ticket-account: "\f847",
  ticket-confirmation: "\f848",
  ticket-percent: "\f849",
  ticket-star: "\f84a",
  tie: "\f84b",
  tilde: "\f84c",
  tile-four: "\f84d",
  timelapse: "\f84e",
  timer-10: "\f84f",
  timer-3: "\f850",
  timer-off: "\f851",
  timer-sand-empty: "\f852",
  timer-sand-full: "\f853",
  timer-sand: "\f854",
  timer: "\f855",
  timetable: "\f856",
  toggle-switch-off: "\f857",
  toggle-switch-on: "\f858",
  tooltip-edit: "\f859",
  tooltip-image: "\f85a",
  tooltip-outline-plus: "\f85b",
  tooltip-outline: "\f85c",
  tooltip-text: "\f85d",
  tooltip: "\f85e",
  tooth: "\f85f",
  tor: "\f860",
  torus: "\f861",
  tower-beach: "\f862",
  tower-fire: "\f863",
  trackpad: "\f864",
  traffic-light: "\f865",
  train: "\f866",
  tram: "\f867",
  transcribe-close: "\f868",
  transcribe: "\f869",
  transfer: "\f86a",
  transit-transfer: "\f86b",
  translate: "\f86c",
  trash: "\f86d",
  treasure-chest: "\f86e",
  tree: "\f86f",
  trello: "\f870",
  trending-down: "\f871",
  trending-neutral: "\f872",
  trending-up: "\f873",
  triangle-outline: "\f874",
  triangle: "\f875",
  trophy-outline: "\f876",
  trophy-variant-outline: "\f877",
  truck-delivery: "\f878",
  truck-fast: "\f879",
  truck-trailer: "\f87a",
  truck: "\f87b",
  tshirt-crew: "\f87c",
  tshirt-v: "\f87d",
  tube: "\f87e",
  tumblr-reblog: "\f87f",
  tumblr: "\f880",
  tune-vertical: "\f881",
  tune: "\f882",
  twitch: "\f883",
  twitter-box: "\f884",
  twitter-circle: "\f885",
  twitter-retweet: "\f886",
  twitter: "\f887",
  uber: "\f888",
  ubuntu: "\f889",
  ultra-high-definition: "\f88a",
  umbraco: "\f88b",
  umbrella-outline: "\f88c",
  umbrella: "\f88d",
  undo-variant: "\f88e",
  undo: "\f88f",
  unfold-less-horizontal: "\f890",
  unfold-less-vertical: "\f891",
  unfold-more-horizontal: "\f892",
  unfold-more-vertical: "\f893",
  ungroup: "\f894",
  unity: "\f895",
  untappd: "\f896",
  update: "\f897",
  upload: "\f898",
  usb: "\f899",
  van-passenger: "\f89a",
  van-utility: "\f89b",
  vanish: "\f89c",
  vector-arrange-above: "\f89d",
  vector-arrange-below: "\f89e",
  vector-circle-variant: "\f89f",
  vector-circle: "\f8a0",
  vector-combine: "\f8a1",
  vector-curve: "\f8a2",
  vector-difference-ab: "\f8a3",
  vector-difference-ba: "\f8a4",
  vector-difference: "\f8a5",
  vector-intersection: "\f8a6",
  vector-line: "\f8a7",
  vector-point: "\f8a8",
  vector-polygon: "\f8a9",
  vector-polyline: "\f8aa",
  vector-radius: "\f8ab",
  vector-rectangle: "\f8ac",
  vector-selection: "\f8ad",
  vector-square: "\f8ae",
  vector-triangle: "\f8af",
  vector-union: "\f8b0",
  verified: "\f8b1",
  vibration: "\f8b2",
  video-3d: "\f8b3",
  video-off: "\f8b4",
  video-switch: "\f8b5",
  video: "\f8b6",
  view-agenda: "\f8b7",
  view-array: "\f8b8",
  view-carousel: "\f8b9",
  view-column: "\f8ba",
  view-dashboard: "\f8bb",
  view-day: "\f8bc",
  view-headline: "\f8bd",
  view-list: "\f8be",
  view-module: "\f8bf",
  view-parallel: "\f8c0",
  view-quilt: "\f8c1",
  view-sequential: "\f8c2",
  view-stream: "\f8c3",
  view-week: "\f8c4",
  vimeo: "\f8c5",
  vine: "\f8c6",
  violin: "\f8c7",
  visualstudio: "\f8c8",
  vk-box: "\f8c9",
  vk-circle: "\f8ca",
  vk: "\f8cb",
  vlc: "\f8cc",
  voice: "\f8cd",
  voicemail: "\f8ce",
  volume-high: "\f8cf",
  volume-low: "\f8d0",
  volume-medium: "\f8d1",
  volume-minus: "\f8d2",
  volume-mute: "\f8d3",
  volume-off: "\f8d4",
  volume-plus: "\f8d5",
  volume: "\f8d6",
  vpn: "\f8d7",
  walk: "\f8d8",
  wall: "\f8d9",
  wallet-giftcard: "\f8da",
  wallet-membership: "\f8db",
  wallet-travel: "\f8dc",
  wallet: "\f8dd",
  wan: "\f8de",
  washing-machine: "\f8df",
  watch-export: "\f8e0",
  watch-import: "\f8e1",
  watch-vibrate: "\f8e2",
  watch: "\f8e3",
  water-off: "\f8e4",
  water-percent: "\f8e5",
  water-pump: "\f8e6",
  water: "\f8e7",
  watermark: "\f8e8",
  waves: "\f8e9",
  weather-cloudy: "\f8ea",
  weather-fog: "\f8eb",
  weather-hail: "\f8ec",
  weather-lightning-rainy: "\f8ed",
  weather-lightning: "\f8ee",
  weather-night: "\f8ef",
  weather-partlycloudy: "\f8f0",
  weather-pouring: "\f8f1",
  weather-rainy: "\f8f2",
  weather-snowy-rainy: "\f8f3",
  weather-snowy: "\f8f4",
  weather-sunny: "\f8f5",
  weather-sunset-down: "\f8f6",
  weather-sunset-up: "\f8f7",
  weather-sunset: "\f8f8",
  weather-windy-variant: "\f8f9",
  weather-windy: "\f8fa",
  web: "\f8fb",
  webcam: "\f8fc",
  webhook: "\f8fd",
  webpack: "\f8fe",
  wechat: "\f8ff",
  weight-kilogram: "\f900",
  weight: "\f901",
  whatsapp: "\f902",
  wheelchair-accessibility: "\f903",
  white-balance-auto: "\f904",
  white-balance-incandescent: "\f905",
  white-balance-irradescent: "\f906",
  white-balance-sunny: "\f907",
  widgets: "\f908",
  wifi-off: "\f909",
  wifi: "\f90a",
  wii: "\f90b",
  wiiu: "\f90c",
  wikipedia: "\f90d",
  window-close: "\f90e",
  window-closed: "\f90f",
  window-maximize: "\f910",
  window-minimize: "\f911",
  window-open: "\f912",
  window-restore: "\f913",
  windows: "\f914",
  wireframe: "\f915",
  wordpress: "\f916",
  worker: "\f917",
  wrench: "\f918",
  wunderlist: "\f919",
  xaml: "\f91a",
  xbox-controller-battery-alert: "\f91b",
  xbox-controller-battery-empty: "\f91c",
  xbox-controller-battery-full: "\f91d",
  xbox-controller-battery-low: "\f91e",
  xbox-controller-battery-medium: "\f91f",
  xbox-controller-battery-unknown: "\f920",
  xbox-controller-off: "\f921",
  xbox-controller: "\f922",
  xbox: "\f923",
  xda: "\f924",
  xing-box: "\f925",
  xing-circle: "\f926",
  xing: "\f927",
  xml: "\f928",
  xmpp: "\f929",
  yammer: "\f92a",
  yeast: "\f92b",
  yelp: "\f92c",
  yin-yang: "\f92d",
  youtube-play: "\f92e",
  youtube: "\f92f",
  zip-box: "\f930",
}